{% load static %}
<div class="menu">
  {% include 'logo.html' %}

  <ul class="menu-bar">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li>
     <a href="{% url 'clients' %}">Clientes</a>
    </li>
    <li>
    <a href="{% url 'stats' %}">Estadística</a>
    </li>
    <li><a href="{% url 'inventory' %}">Inventario</a></li>
    <li>
      <a href="{% url 'staff'%}">Personal</a>
    </li>
  </ul>
  <a href="{% url 'logout' %}" id="logout_a">Salir</a>
   <a href="{% url 'settings' %}"><img src="{% static 'icons/person.svg' %}" alt="user" /> </a> 
  
</div>
