{% load static %}
<div class="modal">
  <div class="modal-container">
    <header>
      <h3>Ventana modal</h3>
      <button id="modal-close">cerrar</button>
    </header>
    {% csrf_token %}
    <form action="" id="modal-form">

    </form>
  </div>
</div>
<!--Al principió creí que no era posible importar módulo con Django,
cosa que tiempo desués me di cuenta que sí se puede.
A esto se debe la mala estructura de los siguientes scripts-->
<script src="{% static 'js/modal_actions.js' %}" ></script>
<script src="{% static 'js/modal.js' %}"  ></script>
