main{
    display: grid;
    margin: 50px 20px 0 ;
    grid-template-columns: 25vw 25vw auto;
    grid-template-rows: 50vh auto;
    grid-column-gap:10px;
    grid-row-gap:20px;
    text-align: center;
}
.profile-content{
    background-color: #EEEBDD;
    overflow-y: scroll;
}
#upgradeStaff{
    background-color: rgb(205, 122, 50);
}
footer{
    grid-column-start:span 3;
    padding: 50px;
}
.card{
    margin:10px;
    background-color: #1B1717;
    color: #FFF;
}
.card:nth-child(even){
    background-color: #FFF;
    color:#1B1717;
}
.card:hover{
    padding:10px;
     font-size:1.3rem;
 }

 .add_title{
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size:35px;
    height:fit-content
}
.add_title button{
    width:55px;
    height:55px;
    background-color:#bd1616;
    font-size:45px;
    border-style:none;
}
.disp{
    font-size: 2rem;
}
.disp:hover{
    font-size: 2.6rem;
}
.disp img{
    width: 40px;
}
.like,.check{
    background-color: #27C93F;
}
.dislike{
    background-color: #FF5F56;
}
.like , .dislike{
    border-style: none;
}
