{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/staff.css' %}">
{% include 'menu.html' %}
<h1 class="welcome-name">
    ¡Qué alegría tenerte de vuelta <i>{{request.user.username}}!</i>
</h1>

<main>
    <article class="profile-content">
        <h2>Lista de empleados</h2>

        {% for user in staff %}
        <section class="card user-card">            
                <p>{{user.username}}</p>
                <small>{{user.rank}}</small>            
        </section>
        {% endfor %}
    </article>
    <article class="profile-content">
        <h2>Tareas asignadas</h2>

        {% for task in tasks %}
        <section class="card task-card">            
                <p>{{task.name}}</p>
                <small>Para: {{task.assigned_to}}</small>            
        </section>
        {% endfor %}
    </article>
    <article class="profile-content">
        <h2>Actividad reciente</h2>
        {% for act in activity %}
        <section class="card act-card">            
                <p>{{act.name}}</p>
                <p>Hecho por {{act.done_by}}</p>
                <p>{{act.amount}}</p>
                <small class="date">{{act.date}}</small>     
        </section>
        {% endfor %}
    </article>
    <footer class="profile-content dispatches">
        <div class="add_title">
           <h2>Comunicados</h2>
        <button id="add_disp">+</button> 
        </div>
        
        {% for disp in dispatches %}
        {% if request.user.username in disp.staff_to or request.user.rank in disp.staff_to  %}

        <section class="card disp">
                <div >
                  <p>{{disp.text}}</p>
                <small>desde {{disp.staff_from}} para {{disp.staff_to}}</small> 
                <br> 
                <small>Fecha:</small><small class="date">{{disp.date}}</small>     
                </div>
                <div id="disp_{{disp.id}}">
                    <button class="like">
                        <img src="{% static 'icons/hand-thumbs-up.svg' %}" alt="">
                    </button>
                    <button class="dislike">
                        <img src="{% static 'icons/hand-thumbs-down.svg' %}" alt="">
                    </button>
                </div>   
        </section>

        {% endif %}  
        {% endfor %}
    </footer>
    
</main>
<script src="{% static 'js/likes.js' %}"></script>
{% endblock content %}