{%  load static %}
    <section class="task-container">
    <header class="task-header">
        <h1>Tareas Pendientes</h1>
        <button id="task-plus" class="display-modal">+</button>
    </header>
    <section class="task-list">
        {% for task in tasks %}
        <div class="task-handler" id="hd_{{task.id}}">
            <div class="task importance-{{task.importance}}">
                <p>{{task.name}}</p>
                <p>{{task.description}}</p>
                <small>{{task.assigned_by.username}} -- {{task.assigned_to.username}}</small>
                <small>{{task.duration}}</small>
            </div>
            <label for="">¿Completada? </label>
            <input type="checkbox" id="ts_{{task.id}}" class="display-modal is_compl">
        </div>
            
            
        {% endfor %}
    </section> 
</section>