{%  load static %}
    <section class="task-container">
    <header class="task-header">
        <h1>Tareas Pendientes</h1>
        <button id="task-plus" class="display-modal">+</button>
    </header>
    <section class="task-list">
        <div class="task importance-1">
            tarea
            <span><img src="{% static 'icons/exclamation-diamond-fill.svg' %}"></span>
        </div>
        <div class="task importance-2">tarea</div>
        <div class="task importance-3">tarea</div>
    </section>
    
</section>